<form action="" method="post">
    <div>
        <label for="titre">Titre:</label>
        <input type="text" name="titre" id="" value="<%= todo.titre %>" >
    </div>
    <div>
        <label for="contenu">Contenu:</label>
        <textarea name="contenu" id="" cols="30" rows="10"><%= todo.contenu%></textarea>
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>